<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:18px; padding:40px; font-family:'Helvetica', 'Arial', sans-serif">
  <!-- Add your EJS code here -->
  <% if (!user) { %>
    <a href="/login">Login</a><p>or</p><a href="/register">Register</a>
   <!--  <form method="POST" action="/login">
      <label for="username">Sign in with a user name:</label>
      <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
      <input type="submit" value="Set Username">
    </form> -->
  <% } else { %>
    <p>Hello <%= user.username %> (<%= user.email %>)</p>
    <form method="POST" action="/urls/logout">
      <input type="submit" value="Logout">
    </form>
  <% } %>
</body>
</html>


