<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
    <% include partials/_header %>
    <ul><% for(element in urls) { %>
      <li><%= element + ": " %><%= urls[element] %>
        <form method="POST" action=<%= `/urls/${element}/delete` %>>
          <input type="submit" value="Delete">
        </form>
      </li>
    <% } %>
    <a href="/urls/new">Shortening a new URL</a>
</ul>
</body>
</html>