<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:18px; padding:40px; font-family:'Helvetica', 'Arial', sans-serif">
    <!-- Add your EJS code here -->

  <form method="POST" action="/register">

    <label for="username"><b>Create a user name:</b></label>
    <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
    <br>
    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" >
    <br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" >
    <br>
    <input type="submit" value="Register">

  </form>
</body>
</html>