<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
    <% include partials/_header %>
    <ul><% for(element in urls) { %>
      <li><%= element %></li>
      <li><%= urls[element] %></li>
    <% } %>
    <a href="example.com">Shortening a new URL</a>
</ul>
</body>
</html>