<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body style="font-size:18px; padding:40px; font-family:'Helvetica', 'Arial', sans-serif">
    <% include partials/_header %>
    <ul><% for(shortURL in urls) { %>
      <li><%= shortURL + ": " %><%= urls[shortURL] %> <a href=<%= `/urls/${shortURL}` %>>Edit</a>
        <form method="POST" action=<%= `/urls/${shortURL}/delete` %>>
          <input type="submit" value="Delete">
        </form>
      </li>
    <% } %>
    <a href="/urls/new">Shortening a new URL</a>
</ul>
</body>
</html>