<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

  <form method="POST" action="/register">

    <label for="username">Create a user name:</label>
    <input id="username" type="text" name="username" placeholder="username" style="width: 300px">

    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" >

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" >

    <input type="submit" value="Register">

  </form>
</body>
</html>