<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:18px; padding:40px; font-family:'Helvetica', 'Arial', sans-serif">
    <!-- Add your EJS code here -->
  <p>Login</p>
  <form method="POST" action="/login">

    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" >

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" >

    <input type="submit" value="Login">

  </form>
  <br>
  <br>
  Don't have an account yet?
  <a href="http://localhost:8080/register">Register</a>
</body>
</html>